h2 .icon.icon-link::before, h3 .icon.icon-link::before {
  content: "#";
  padding-right: 0.25rem;
  opacity: 0.5;
}

h1 > img {
  float: right;
}

.with-answers {
  background: #ffff80;
  padding: 0 1rem;
}

textarea, input {
  width: 100%;
}
